<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.33.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Student X-Data</title>
  </head>
  <body>
    <div class="container">
      <div
        class="flex justify-center center bg-primary text-black align-center h-screen"
      >
        <div
          class="w-64 h-64 bg-base-300 text-white justify-center flex mt-5 rounded-md"
        >
          <div class="flex flex-col">
            <p class="mt-4 font-mono">student stuff</p>
            <br />
            <button class="btn btn-success btn-sm">save</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
