aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
arjun==2.2.1
arrow==1.2.3
asn1crypto==0.24.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
autokey==0.96.0
Automat==22.10.0
autopep8==1.7.0
awscli==1.27.79
Babel==2.6.0
backports.zoneinfo==0.2.1
beartype==0.11.0
beautifulsoup4==4.7.1
binaryornot==0.4.4
binwalk==2.1.2
black==22.10.0
blessed==1.20.0
blinker==1.6.2
boto3==1.26.79
botocore==1.29.80
Brlapi==0.6.7
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.3.1
certifi==2018.8.24
cffi==1.15.1
chalice==1.27.3
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
click-option-group==0.5.5
cloudsplaining==0.5.0
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0
contextlib2==21.6.0
cookiecutter==2.1.1
cryptography==38.0.4
cupshelpers==1.0
cycler==0.10.0
decorator==4.3.0
dicttoxml==1.7.16
distlib==0.3.6
distro==1.3.0
distro-info==0.21
dnspython==1.16.0
docutils==0.14
dsnap==1.0.0
entrypoints==0.3
feedparser==5.2.1
fierce==1.5.0
filelock==3.8.0
Flask==2.2.4
Flask-Cors==3.0.10
flet==0.3.2
frozenlist==1.3.3
gevent==1.3.7
gitdb==4.0.10
GitPython==3.1.31
greenlet==0.4.15
html2text==2018.1.9
html5lib==1.0.1
httpie==0.9.8
hyperlink==21.0.0
idna==2.6
importlib-metadata==4.12.0
importlib-resources==5.12.0
incremental==22.10.0
inquirer==2.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
jsonschema==4.17.3
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
langchain==0.0.27
louis==3.8.0
lxml==4.3.2
Mako==1.2.1
Markdown==3.0.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.0.2
mdurl==0.1.2
mock==2.0.0
multidict==6.0.4
mutagen==1.45.1
mypy-extensions==0.4.3
num2words==0.5.6
numpy==1.21.6
oauthlib==3.2.2
odoo==11.0
ofxparse==0.19
olefile==0.46
openai==0.27.5
packaging==23.0
pacu==1.1.2
pandas==1.3.5
passlib==1.7.1
pathspec==0.10.1
pbr==4.2.0
Pillow==9.3.0
pipenv==2022.10.12
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
policy-sentry==0.12.6
prettytable==3.3.0
protobuf==4.23.3
psutil==5.5.1
psycopg2==2.7.7
pyarrow==12.0.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.9.1
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.15.0
pycups==1.9.73
pycurl==7.43.0.2
pydantic==1.10.9
pydeck==0.8.1b0
pydot==1.4.1
Pygments==2.15.1
PyGObject==3.30.4
pyinotify==0.9.6
Pympler==1.0.1
PyOpenGL==3.1.0
pyOpenSSL==22.1.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyqtgraph==0.10.0
pyrsistent==0.19.3
pyserial==3.4
pysmbc==1.0.15.6
PySocks==1.7.1
python-apt==1.8.4.3
python-dateutil==2.8.2
python-editor==1.0.4
python-ldap==3.1.0
python-slugify==8.0.1
python-stdnum==1.10
python-xlib==0.23
pytz==2019.1
pytz-deprecation-shim==0.1.0.post0
pyusb==1.0.2
pyxdg==0.25
PyYAML==5.4.1
qrcode==6.1
readchar==4.0.3
repath==0.9.0
reportlab==3.5.13
requests==2.28.1
rich==13.4.2
roman==2.0.0
rsa==4.7.2
s3transfer==0.6.0
schema==0.7.5
scipy==1.1.0
SecretStorage==2.3.1
six==1.12.0
smmap==5.0.0
soupsieve==1.8
speedtest-cli==2.0.2
SQLAlchemy==1.3.24
SQLAlchemy-Utils==0.37.9
sshuttle==0.78.5
streamlit==1.23.1
suds-jurko==0.7.dev0
tenacity==8.2.2
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
ttkbootstrap==1.10.0
Twisted==22.10.0
typed-ast==1.5.4
typing_extensions==4.7.0
tzdata==2023.3
tzlocal==4.3.1
unattended-upgrades==0.1
urllib3==1.26.14
validators==0.20.0
vatnumber==1.2
virtualenv==20.16.5
virtualenv-clone==0.5.7
vobject==0.9.6.1
watchdog==2.2.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.3
Werkzeug==2.2.3
XlsxWriter==1.1.2
xlwt==1.3.0
yarl==1.9.2
yt-dlp==2023.3.3
zipp==3.8.0
zope.interface==5.5.2
